<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Sanc Tracker</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>이동 경로를 기록하고 현재 위치를 지도에 표시하기 위해 위치 권한이 필요합니다.</string>
	<key>NSCameraUsageDescription</key>
	<string>사진 및 동영상 마커를 촬영하기 위해 카메라를 사용합니다.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>동영상 촬영 시 소리를 녹음하기 위해 마이크를 사용합니다.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>선택한 사진과 동영상을 장소 마커에 첨부합니다.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>촬영한 사진과 동영상을 사진 보관함에도 저장합니다.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>추적을 시작하면 화면이 잠겨 있거나 앱이 백그라운드에 있을 때도 이동 경로를 기기에 저장합니다. 중지를 누르면 기록을 종료합니다.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>sanc_tracker</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
